<div class="hcMinimanFullViewport">
  <!--GA button bar-->
  <div class="hcBasicSideMargin hcRowJustify hcMarginTop4 hcMarginBottom2">
    <div class="hcToggle">
      <button id="qb" class="hcGaTog1" [class.bgColorBrand1]="tab == 0" (click)="tab = 0">Query builder</button>
      <button id="sce" class="hcGaTog1" [class.bgColorBrand1]="tab == 1" (click)="tab = 1">Sparql code editor</button>
    </div>
    <input type="image"
           name=""
           [attr.src]="splitInterfaceVal ? 'images/custom/ga-agent/b_toggle_Row.png' : 'images/custom/ga-agent/b_toggle_Col.png'"
           alt="Toggle interface"
           onclick="splitToggle()"
           class="hcImageButttons"
           id="b_splitToggle"
           *ngIf="!matchMedia.matches"
           (click)="splitInterfaceVal =! splitInterfaceVal"
    >

<!--    <div>-->
<!--      <button type="button">Save query</button>-->
<!--      <button type="button" (click)="historicalQuerySelected(this.queryHistory.length -1)">Load query</button>-->
<!--    </div>-->
  </div>

  <div class="hcSpitscreen hcSpitscreenGa hcFlex1" [class.gaSplitCol]="splitInterfaceVal">
    <div class="hcMarginBottom3 hcBasicSideMargin hcFlex1" >
      <app-sparklis-submit-ga-ui
        *ngIf="tab==0"
        [agent]="agent"
        [agents]="platformAgents"
        [queryID]="activeQueryID"
        [queryHistory]="queryHistory"
        (querySent)="querySentHandler($event)"
        (historicalQuerySelected)="historicalQuerySelected($event)"
        ></app-sparklis-submit-ga-ui>
      <app-query-submit
        *ngIf="tab==1"
        [agent]="agent"
        [selectedSources]="selectedSources"
        [activeQueryID]="activeQueryID"
        (querySubmitted)="querySentHandler($event)"
        (historicalQuerySelected)="historicalQuerySelected($event)"
      ></app-query-submit>
    </div>
    <div class="hcFlex1 hcClrBg_Grey05" [attr.style]="splitInterfaceVal || matchMedia.matches ? 'max-width: 100%' : 'max-width: 50vw'">
      <mat-tab-group disableRipple [(selectedIndex)]="selectedTab">
        <mat-tab>
          <div class="hcTabContent hcMarginTop2 hcBasicSideMargin">
          <ng-template mat-tab-label>
            <div class="hcTabLabel hcRoundedCornersTop">Progress</div>

            <div class="hcIcon hcIconSmall hcMarginLeft05" *ngIf="errorObject.isPopulated">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                   height="27"
                   width="32" viewBox="0 0 32 27" preserveAspectRatio="xMinYMin meet">
                <defs>
                  <rect id="rect-0" opacity="1" x="11.789473684210861" y="12.664409274662034" width="8.421052631578947"
                        height="2.820117620889734"></rect>
                  <ellipse id="ellipse-1" opacity="1" rx="1.6842105263157903" ry="1.7234042553191493"
                           cx="15.999999999999783" cy="21.829787234043277"></ellipse>
                  <path id="path-2" opacity="1" fill-rule="evenodd"
                        d="M16.333333333333332,0 L32,27 L0,27 L16.333333333333332,0Z"></path>
                  <mask id="mask-3" maskUnits="userSpaceOnUse" maskContentUnits="userSpaceOnUse">
                    <rect opacity="1" x="0" y="0" width="32" height="27" fill="black"></rect>
                    <use xlink:href="#path-2" fill="white"></use>
                  </mask>
                </defs>
                <g opacity="1">
                  <g
                    transform="translate(16.000000000000334, 14.0744680851069) rotate(90.00003218077504) translate(-16.000000000000334, -14.0744680851069)"
                    opacity="1">
                    <use xlink:href="#rect-0" class="hcIconFill"></use>
                  </g>
                  <g opacity="1">
                    <use xlink:href="#ellipse-1" class="hcIconFill"></use>
                  </g>
                  <g opacity="1">
                    <use xlink:href="#path-2" fill-opacity="0" class="hcIconStroke" stroke-opacity="1"
                         stroke-linecap="butt" stroke-linejoin="miter" mask="url(#mask-3)"></use>
                  </g>
                </g>
              </svg>

              <!-- // if problems during process -->
            </div>
          </ng-template>
          <app-query-info
            [agent]="agent"
            [activeQueryID]="activeQueryID"
          ></app-query-info>
          </div>
        </mat-tab>
        <mat-tab label="Results">
          <div class="hcTabContent hcMarginTop2 hcBasicSideMargin">
          <app-query-result
            [agent]="agent"
            [activeResult]="activeResult"
          ></app-query-result>
          </div>
        </mat-tab>
        <mat-tab label="Datasets">
          <div class="hcTabContent hcMarginTop2 hcBasicSideMargin">

            <!-- Tab explanation -->
            <div class="hcMarginBottom1">
          <h3>Select Data Sources to use to answer the query</h3>
          <small><span class="hcIcon hcIconSmall hcMarginRight05 hcIconText showMoreIcon" (click)="showStatisticsHelp=!showStatisticsHelp">
              Click a data source name to show the data sources expertise&nbsp;&nbsp;&nbsp;
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="32" width="32" viewBox="0 0 32 32" preserveAspectRatio="xMinYMin meet">
                <polygon *ngIf="!showStatisticsHelp" points="0,10 32,10 16,27" class="hcIconFill"></polygon>
                <polygon *ngIf="showStatisticsHelp" points="0,27 32,27 16,10" class="hcIconFill"></polygon>
            </svg>
          </span></small>

          <div class="hcMarginLeft3" *ngIf="showStatisticsHelp" [@enterAnimation] style="width: 80%">
            <small>
          <p>The expertise of an agent is determined by which concepts (classes and relations) it knows, and how many statements those
          concepts are used in. The pie charts below visualizes the distribution of these classes and concepts.</p>
          <p><b>Combining concepts</b> in a user query, restricts the number of statements an agent can give as an answer. When you hover
          over a segment in either of the pie charts, the bar chart below changes. This bar chart shows all concepts, similar to the pie chart,
          but will now show the total number of statements the agent can give which combine both selected concepts.</p>
          <p>Click a segment in either of the pie charts to fix the bar chart. After that, hovering a bar in the bar chart shows an example query
          that contains both concepts you selected. Click the the bar to fix this query, so you can copy it.</p>
            </small>
          </div>
            </div>

            <div class="hcMarginBottom1" *ngIf="webowl_ontology_uri">
            <h3>Ontology</h3>
            <span>You can view a visual representation of the ontology&nbsp;<a href="{{webowl_ontology_uri}}" target="_blank">here</a></span>
              <small>Powered by WebVOWL</small>
            </div>
            <h3>Datasets</h3>
          <div
            *ngFor="let agent of platformAgents"
            class="hcForm"
            [class]="agent.agent==showAgentStatistics ? 'bold' : ''"
          >
            <input
              type="checkbox"
              id="use_db_{{agent.agent.nickname}}"
              [(ngModel)]="agent.selected"
              (change)="dataSourcesChanged()"
              [disabled]="!agent.agent.ready"
            >
            <label
              class="hcLabel"
              [class]="agent.agent.ready ? '' : 'in-progress'"
              (click)="showAgentStatistics=(!agent.agent.ready || showAgentStatistics === agent.agent ? null : agent.agent)">
              {{agent.agent.nickname}}
<!--              <span *ngIf="!agent.agent.ready" class="in-progress">&#xf021;</span>-->
            </label>

          </div>
          <app-sparql-agent-statistics
            *ngIf="showAgentStatistics"
            [@enterAnimation]
            [agent]="showAgentStatistics"
            >
          </app-sparql-agent-statistics>
          </div>
        </mat-tab>

      </mat-tab-group>

    </div>
  </div>


</div>
