.mat-tab-label {
  height: 100px !important;
  opacity: 1!important;
}

.hcForm input[type="checkbox"] {
  font-size: 40px !important;
}

.bold {
  font-weight: 800;
}

.hcIconFill {
  fill: #c54a11;
}

.hcIconStroke {
  stroke: #c54a11;
  stroke-width: 5px;
}

.in-progress:after {
  content: "\f021";
  margin-left:.5em;
  color: black;
  font-family: FontAwesome, serif;
  display: inline-block;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -webkit-animation: rotate-center 1.2s linear infinite both;
  animation: rotate-center 1.2s linear infinite both;
}

