div.agent-grid-item {
	width: 100%;
	height: 100%;
}

div.agent-grid-item a {
	color: black;
	text-decoration: none;
}

h3.agent-title {
	text-align: center;
	background-color: white;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
}

mat-icon.btn-icon {
	font-size: 35px;
	color: white;
}

mat-icon.agent-icon {
	text-align: center;
	font-size: 175px;
	width: 100%;
}

div.icon-col {
	float: left;
	width: 75%;
}

div.button-col {
	float: left;
	width: 25%;
}

div.button-col-container {
	position: absolute;
	bottom: 0;
  	margin-bottom: 5px;
}

div.button-col .btn {
	padding: 3px;
	margin: 0;
	height: 55px;
	width: 40px;
	margin-bottom: 3px;
}

mat-icon.btn-icon {
	margin-top: 7px;
	margin-left: -10px;
}

.agent-grid-item-disabled {
  opacity: .5;
}
