
<div class="agent-grid-item {{agent.ready ? '' : 'agent-grid-item-disabled'}}" >
<a [routerLink]="['/agent', agent.uuid, '']"><h3 class="agent-title">{{agent.nickname}}</h3></a>
	<div class="icon-col" >
		<a [routerLink]="['/agent', agent.uuid, '']"><mat-icon class="agent-icon">{{agent.icon}}</mat-icon></a>
	</div>
	<div class="button-col">
		<div class="button-col-container" class="hcFlex1">
			<a [routerLink]="['/agent', agent.uuid, 'settings']" target="_blank" class="btn btn-success"><mat-icon class="btn-icon">settings</mat-icon></a>
			<a [routerLink]="['/agent', agent.uuid, 'messages']" target="_blank" class="btn btn-warning"><mat-icon class="btn-icon">forum</mat-icon></a>
			<button
				mwlConfirmationPopover
				[popoverTitle]="popoverTitle"
				[popoverMessage]="popoverMessage"
				[appendToBody]="true"
				placement="right"
				(confirm)="routeAgentKill(agent)"
				class="btn btn-danger">
 					<mat-icon class="btn-icon btn-danger">delete</mat-icon>
			</button>
		</div>
	</div>
</div>
