<div class="hcMsg--info" id="msg01" *ngIf="showHelpMessage">
  <div class="hc2columns hcMarginBottom05">
    <div class="hcSmallTxt">Info</div>
    <div class="hcAlignRight">
      <span class="hcIcon hcIconSmall hcPointer" (click)="showHelpMessage=false;">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="32"
             width="32" viewBox="0 0 32 32" preserveAspectRatio="xMinYMin meet">
          <defs>
            <path id="path-0" opacity="1" fill-rule="evenodd"
                  d="M14.42726390280393,-3.0546604337730514 L17.572772939300993,-3.0546604337730514 C18.67660298828899,-3.0546604337730514 19.572772939300993,-2.158490482761051 19.572772939300993,-1.0546604337730514 L19.572772939300993,33.054697275877515 C19.572772939300993,34.15852732486552 18.67660298828899,35.054697275877515 17.572772939300993,35.054697275877515 L14.42726390280393,35.054697275877515 C13.32343385381593,35.054697275877515 12.42726390280393,34.15852732486552 12.42726390280393,33.054697275877515 L12.42726390280393,-1.0546604337730514 C12.42726390280393,-2.158490482761051 13.32343385381593,-3.0546604337730514 14.42726390280393,-3.0546604337730514Z"></path>
            <path id="path-1" opacity="1" fill-rule="evenodd"
                  d="M-1.0546723429395115,12.427266135772811 L33.05470918504483,12.427266135772811 C34.15853923403283,12.427266135772811 35.05470918504483,13.323436086784811 35.05470918504483,14.427266135772811 L35.05470918504483,17.572770706332292 C35.05470918504483,18.67660075532029 34.15853923403283,19.572770706332292 33.05470918504483,19.572770706332292 L-1.0546723429395115,19.572770706332292 C-2.1585023919275113,19.572770706332292 -3.0546723429395115,18.676600755320294 -3.0546723429395115,17.572770706332292 L-3.0546723429395115,14.427266135772811 C-3.0546723429395115,13.323436086784811 -2.158502391927512,12.427266135772811 -1.0546723429395115,12.427266135772811Z"></path>
          </defs>
          <g opacity="1">
            <g
              transform="translate(16.00001842105246, 16.000018421052232) rotate(315.0001126327126) translate(-16.00001842105246, -16.000018421052232)"
              opacity="1">
              <use xlink:href="#path-0" class="hcIconFill"></use>
            </g>
            <g
              transform="translate(16.00001842105266, 16.000018421052552) rotate(315.0001126327126) translate(-16.00001842105266, -16.000018421052552)"
              opacity="1">
              <use xlink:href="#path-1" class="hcIconFill"></use>
            </g>
          </g>
        </svg>
      </span>
    </div>
  </div>
  Use the blocks to build up your search query. The results will appear in the right panel.
  <div class="hc2columns hcMarginBottom05">
    <div class="hcSmallTxt"></div>
    <div class="hcSmallTxt hcTxtRight"><a href="" (click)="showHelpMessage=false;">Skip</a></div>
  </div>
</div>

<ng-template #showMoreTemplate>
  <div class="hcIcon hcIconSmall hcMarginLeft05">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="32"
         width="32" viewBox="0 0 32 32" preserveAspectRatio="xMinYMin meet">
      <polygon points="0,10 32,10 16,27" class="hcIconFill"></polygon>
    </svg>
  </div>
</ng-template>

<ng-template #AQLSuggestionTemplate let-options="suggestions">
<!--  <div class="hcQBuildBlockBrowse">-->
    <div *ngFor="let option of options" >
<!--      <input type="checkbox" class="input-treeview" id="collapse-incr{{option.id}}" #classpropexpendable/>-->
<!--      <label for="collapse-incr{{option.id}}" [class]="option.subitems.length > 0 ? 'label-checked' : 'label-hidden'" >▼&nbsp;</label>-->
<!--      <label for="collapse-incr{{option.id}}" class="label-unchecked" *ngIf="option.subitems.length > 0">►&nbsp;</label>-->

      <div class="hcHoverEffect" title="{{option.url}}" (click)="conceptSelected(option);$event.stopPropagation();">
        <span *ngIf="option.subitems?.length" (click)="option.selected = !option.selected;$event.stopPropagation();">
          {{option.selected ? '▼' :  '►'}}&nbsp;
        </span>
        <span class="{{option.type}}URI">{{option.label}}</span>
        <span *ngIf="option.url" class="concept-ontology-uri">
          <a href="{{option.url}}" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 20 20">
              <title>
                new window
              </title>
              <path d="M17 17H3V3h5V1H3a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-5h-2z"/>
              <path d="M19 1h-8l3.29 3.29-5.73 5.73 1.42 1.42 5.73-5.73L19 9V1z"/>
            </svg>
          </a>
        </span>
      </div>
      <span class="hcList" *ngIf="option.subitems?.length && option.selected">
        <ng-container *ngTemplateOutlet="AQLSuggestionTemplate;context:{suggestions: option.subitems}"></ng-container>
      </span>
    </div>
<!--  </div>-->
</ng-template>

<!-- Simple Mockup to do some tests -->
<!--<div class="hcQueryBuilder  hcQBHeight" id="hcQueryBuilder1">-->
<!--  <div class="hcQueryBuilderRow">-->
<!--    <div class="hcQBuildBlock">Give me every</div>-->
<!--    <div class="hcQBuildBlock hcRoundedCorners hcQBuildBlockInt"><span class="classURI">CreativeAgent</span></div>-->
<!--  </div>-->

<!--  <div class="hcQueryBuilderRow" [style.margin-left.em]="4">-->
<!--    <div class="hcQBuildBlock">that has a</div>-->
<!--    <div class="hcQBuildBlock hcRoundedCorners hcQBuildBlockInt"><span class="propURI">type</span> </div>-->
<!--    <div class="hcQBuildBlock hcRoundedCorners hcQBuildBlockInt">that is a <span class="classURI">CreativeAgent</span></div>-->
<!--  </div>-->

<!--  <div class="hcQueryBuilderRow" [style.margin-left.em]="8">-->
<!--    <div class="hcQBuildBlock">that has a</div>-->
<!--    <div class="hcQBuildBlock hcRoundedCorners hcQBuildBlockInt"><span class="propURI">creationDate</span></div>-->
<!--  </div>-->

<!--  <div class="hcQueryBuilderRow" [style.margin-left.em]="8">-->
<!--    <div class="hcQBuildBlock">and</div>-->
<!--    <div class="hcQBuildBlock">that is the</div>-->
<!--    <div class="hcQBuildBlock hcRoundedCorners hcQBuildBlockInt"><span class="propURI">type</span> <span class="modifier">of</span> something</div>-->
<!--    <div class="hcQBuildBlock hcRoundedCorners hcQBuildBlockInt">that is a&nbsp;<span class="classURI">CreativeAgent</span></div>-->
<!--  </div>-->

<!--  <div class="hcQueryBuilderRow" [style.margin-left.em]="4">-->
<!--    <div class="hcQBuildBlock">and</div>-->
<!--    <div class="hcQBuildBlock">that has a</div>-->
<!--    <div class="hcQBuildBlock hcRoundedCorners hcQBuildBlockInt"><span class="propURI">hasName</span></div>-->
<!--  </div>-->
<!--</div>-->


<!--<div class="hcQueryBuilder hcQBHeight" id="hcQueryBuilder1">-->
<!--  <div class="hcQueryBuilderRow">-->
<!--    <div class="hcQBuildBlock">Give me every</div>-->
<!--    <div class="hcQBuildBlock hcRoundedCorners hcQBuildBlockInt"><span class="classURI">CreativeAgent</span></div>-->
<!--  </div>-->

<!--    <div class="hcQueryBuilderRow" [style.margin-left.em]="4">-->
<!--      <div class="hcQBuildBlock focus">that has a</div>-->
<!--      <div class="hcQBuildBlock hcRoundedCorners hcQBuildBlockInt focus"><span class="propURI">type</span> </div>-->
<!--      <div class="hcQBuildBlock hcRoundedCorners hcQBuildBlockInt focus">that is a <span class="classURI">CreativeAgent</span></div>-->
<!--    </div>-->

<!--    <div class="hcQueryBuilderRow" [style.margin-left.em]="8">-->
<!--      <div class="hcQBuildBlock focus">that has a</div>-->
<!--      <div class="hcQBuildBlock hcRoundedCorners hcQBuildBlockInt focus"><span class="propURI">creationDate</span></div>-->
<!--    </div>-->

<!--    <div class="hcQueryBuilderRow" [style.margin-left.em]="8">-->
<!--      <div class="hcQBuildBlock">and</div>-->
<!--      <div class="hcQBuildBlock">that is the</div>-->
<!--      <div class="hcQBuildBlock hcRoundedCorners hcQBuildBlockInt"><span class="propURI">type</span> <span class="modifier">of</span> something</div>-->
<!--      <div class="hcQBuildBlock hcRoundedCorners hcQBuildBlockInt">that is a&nbsp;<span class="classURI">CreativeAgent</span></div>-->
<!--    </div>-->

<!--    <div class="hcQueryBuilderRow" [style.margin-left.em]="4">-->
<!--      <div class="hcQBuildBlock">and</div>-->
<!--      <div class="hcQBuildBlock">that has a</div>-->
<!--      <div class="hcQBuildBlock hcRoundedCorners hcQBuildBlockInt"><span class="propURI">hasName</span></div>-->
<!--    </div>-->
<!--</div>-->
<!-- END MOCKUP -->

<ng-template #queryBlockTemplate let-query="query">
  <div class="hcQBuildBlock hcQBuildBlockInt hcRoundedCorners" [class.focus]="query.inFocus" *ngIf="query.type !== 'filler'" (click)="elementClicked('showMore', query)">
    <span *ngIf="query.type == 'class'" class="no-padding">
      {{query.prefix}}&nbsp;<span class="classURI">{{query.label}}</span>
    </span>
    <span *ngIf="query.type == 'forward'" class="no-padding">
      {{query.prefix}}&nbsp;<span class="propURI">{{query.label}}</span>&nbsp;<span class="modifier">of</span>&nbsp;something
    </span>
    <span *ngIf="query.type == 'backward'" class="no-padding">
        {{query.prefix}}&nbsp;<span class="propURI">{{query.label}}</span>
    </span>
    <span *ngIf="query.type == 'instance'" class="no-padding">
      {{query.prefix}}&nbsp;<span class="URI">{{query.label}}</span>
    </span>
    <span *ngIf="query.focus" class="no-padding"><ng-container *ngTemplateOutlet="showMoreTemplate"></ng-container></span>
  </div>
  <span *ngIf="query.type === 'filler'" class="no-padding">
    <div class="hcQBuildBlock">{{query.label}}</div>
  </span>



  <div class="hcQBuildBlockChoice" *ngIf="showMore && query.focus">
    <div class="in-progress" *ngIf="!suggestions.finished">
      <span>
        <span class="hcIcon"></span>
      </span>
    </div>
    <div class="hcQBuildBlock" (click)="elementClicked('classes')" *ngIf="suggestions.classes.length">that is a&nbsp;<span class="classURI">..</span></div>
    <div class="hcQBuildBlock" (click)="elementClicked('backwardProperties')" *ngIf="suggestions.backwardProperties.length">that has a&nbsp;<span class="propURI">..</span></div>
    <div class="hcQBuildBlock" (click)="elementClicked('forwardProperties')" *ngIf="suggestions.forwardProperties.length">that is the&nbsp;<span class="propURI">..</span>&nbsp;<span class="modifier">of</span></div>
    <div class="hcQBuildBlock" (click)="elementClicked('instances')" *ngIf="suggestions.instances.length">show&nbsp;<span class="URI">..</span></div>
    <div class="hcQBuildBlock" (click)="elementClicked('union')" *ngIf="aqlQuery.canUnion">or that <span class="URI">..</span></div>
    <!-- TODO: Order by is not yet implemented -->
<!--    <div class="hcQBuildBlock" (click)="elementClicked('order')">order by ..</div>-->
    <div class="hcQBuildBlock" (click)="elementClicked('remove')">Delete</div>
  </div>

  <div class="hcQBuildBlockBrowse css-treeview" *ngIf="showSuggestions && query.focus">
    <div class="hcQBuildBlock" *ngIf="showClasses">That is a ...</div>
    <div class="hcQBuildBlock" *ngIf="showBackwardProperties">That has a ..</div>
    <div class="hcQBuildBlock" *ngIf="showForwardProperties">That is the ..&nbsp;<span class="modifier">of</span></div>
    <div class="tooltiped col-xs-8 no-padding" title="Input keywords to filter concepts">
      <input id="pattern-properties" class="pattern-incrs form-control" type="text" [(ngModel)]="filter" placeholder="Input keywords to filter concepts" (ngModelChange)="constructSuggestionsFromAPI()"/>
    </div>
    <div class="hcList">
      <ng-container *ngIf="showClasses">
        <ng-container *ngTemplateOutlet="AQLSuggestionTemplate;context: {suggestions: suggestions.classes}"></ng-container>
      </ng-container>
      <ng-container *ngIf="showBackwardProperties">
        <ng-container #propertiesList *ngTemplateOutlet="AQLSuggestionTemplate;context: {suggestions: suggestions.backwardProperties}"></ng-container>
      </ng-container>
      <ng-container *ngIf="showForwardProperties">
        <ng-container #propertiesList *ngTemplateOutlet="AQLSuggestionTemplate;context: {suggestions: suggestions.forwardProperties}"></ng-container>
      </ng-container>
      <ng-container *ngIf="showInstances">
        <ng-container #instanceList *ngTemplateOutlet="AQLSuggestionTemplate;context: {suggestions: suggestions.instances}"></ng-container>
      </ng-container>
    </div>
  </div>

</ng-template>

<div class="hcQueryBuilder hcQBHeight" id="hcQueryBuilder3">
  <div class="hcQueryBuilderRow" *ngFor="let row of aqlQuery.rows" [style.margin-left.em]="row.indentation * 4">
    <span *ngFor="let el of row.elements" class="no-padding">
      <ng-container *ngTemplateOutlet="queryBlockTemplate;context:{query: el};"></ng-container>
    </span>
  </div>
</div>

<button (click)="queryCommunication.requestDisplayQuery(agent, aqlQuery)" >Convert to SPARQL</button>
