<div class="container">
	<h3>Create a new agent</h3>
	<form #agentCreationForm="ngForm">
		<div class="form-group">
			<label for="type">Type</label> 
			<select class="form-control" id="type" name="type" [(ngModel)]="model.agentType" (ngModelChange)="onTypeSelect($event)" required>
				<option *ngFor="let type of agentTypes" [value]="type">{{type}}</option>
			</select>
		</div>
		<button type="button" class="btn btn-success" (click)="open()">Create</button>
	</form>
</div>
