/**
Some minor elements from the default Golden Agents stylesheet have to be overridden for compatibility
with Angular DOM elements.

This file contains most of those, so the golden-agents-styles.css can be updated without too much trouble
 */

@import url('//fonts.googleapis.com/icon?family=Material+Icons');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');
@import "~codemirror/lib/codemirror.css";
@import '~codemirror/theme/3024-day.css';

.hcForm input[type="checkbox"] {
  vertical-align: middle;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}


span.loading-indicator {
  visibility: hidden;
  width: 10px;
  height: 10px;
  display: inline-flex;
  background-image: url("../images/favi-ga.png");
  background-size: 10px 10px;
  margin-right: 10px;
  margin-left: 5px;
  -webkit-animation: rotation 1s infinite ease-in-out;
}

.animate span.loading-indicator {
  visibility: visible;
}

/**
Tabs overrides
 */
.mat-tab-label-container {
  background-color: #FFFFFF;
}

.mat-tab-labels .mat-tab-label-active {
  cursor: pointer;
  padding: .5rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 700;
  background-color: #f2f2f2;
  border-radius: 4px 4px 0 0;
  opacity: 1;
}

/** Code Mirror Overrides **/
.cm-s-3024-day.CodeMirror {
  background: transparent;
}

.cm-s-3024-day .CodeMirror-gutters {
  background: transparent;
}

.is-invalid {
  text-decoration: underline red wavy;
}

/** Override flex and padding of default Golden Agents style. For some reason does not work in component CSS **/
.CodeMirror span, .no-flex {
  padding: 0;
  display: inline;
}

.hcList > * {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid #d9d9d9;
}

.hcList .hcHoverEffect {
  display: inline-flex;
  flex-direction: row;
  padding-top: .7rem;
  padding-bottom: .7rem;
}

.hcList .hcHoverEffect:hover {
  background-color: #d9d9d9;
  margin: 0 -1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.hcList > * > * {
  flex: unset;
}

.CodeMirror {
  height: auto !important;
  max-height: none !important;
}



