<div id="table-div">
  <ng-container #container></ng-container>
</div>
<ng-template #tpl>
  <app-result-data-table
    [agent]="agent"
    [activeResult]="activeResult"
    [headers]="headers"
    [queryID]="queryID"
  ></app-result-data-table>
</ng-template>
