.pagination {
  list-style: none;
}

.pagination > li {
  display: inline;
}

.pagination li a {
  padding: .5rem;
}

.pagination li.page-item.active {
  background-color: #058f76;
  color: #fff;
}

.pagination li.page-item.active a {
  color: #fff;
}
