div#dashboard-container {
	margin-top: 25px;
}

div#dashboard-header {
	margin: 0 0 15px 0;
}

div#dashboard-header::after {
    content: "";
    clear: both;
    display: table;
}

div#dashboard-grid-container {
	
}

div#dashboard-meta {
	float: left;
	width: 70%;
}

div#dashboard-create-agent {
	float: left;
	width: 30%;
}