<div id="dashboard-container">
	<div id="dashboard-header" class="hcBasicSideMargin">
		<div id="dashboard-meta">
			<h2>Welcome to the Golden Agents Framework!</h2>
			<p>Here is some more room for dashboard related items</p>
		</div>
		<div id="dashboard-create-agent">
			<app-agent-create-form></app-agent-create-form>
		</div>
	</div>
	<div id="dashboard-grid-container" class="hcBasicSideMargin">
		<h2>Active Agents:</h2>
		<app-agent-grid></app-agent-grid>
	</div>
</div>
