<mat-tab-group [(selectedIndex)]="selectedTab" #tabGroup>

	<mat-tab label="Messages">
		<div class="tab-container">
			<h3 class="tab-header">Message overview</h3>
			<div class="tab-content"><app-df-agent-messages [agent]="agent"></app-df-agent-messages></div>
		</div>
	</mat-tab>
	
	<mat-tab label="Settings">
		<div class="tab-container">
			<h3 class="tab-header">Edit this agent</h3>
			<div class="tab-content"><app-df-agent-settings [agent]="agent"></app-df-agent-settings></div>
		</div>
	</mat-tab>
	
</mat-tab-group>