<div>
	<form #agentSettingsForm="ngForm" (ngSubmit)="onEdit()">

		<div class="form-group">
			<label for="uuid">ID</label> 
			<input type="text" class="form-control" id="uuid" name="uuid" [(ngModel)]="agent.uuid" disabled>
		</div>
		
		<div class="form-group">
			<label for="host">Host</label> 
			<input type="text" class="form-control" id="host" name="host" [(ngModel)]="agent.host" disabled>
		</div>
		
		<div class="form-group">
			<label for="port">Port</label> 
			<input type="text" class="form-control" id="port" name="port" [(ngModel)]="agent.port" disabled>
		</div>

		<div class="form-group">
			<label for="nickname">Nickname</label> 
			<input type="text" class="form-control" id="nickname" name="nickname" [(ngModel)]="agent.nickname"  required>
		</div>

		<button type="submit" class="btn btn-success">Edit</button>

	</form>
</div>