<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Sparql Database Agent Create Form</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal('Cross click')">
    	<span aria-hidden="true">&times;</span>
  	</button>
  </div>
  <div class="modal-body">
    <form #agentCreationForm="ngForm" (ngSubmit)="onSubmit()">
      	<div class="form-group">
			<label for="nickname">Nickname</label> 
			<input type="text" class="form-control" id="nickname" name="nickname" [(ngModel)]="agent.nickname" required>
		</div>
		<div class="form-group">
			<label for="icon">Icon</label> 
			<input type="text" class="form-control" id="icon" name="icon" [(ngModel)]="agent.additionals['icon']" required>
		</div>
		<div class="form-group">
			<label for="dataURI">RDF Data URI</label>
			<input type="text" class="form-control" id="dataURI" name="dataURI" [(ngModel)]="agent.additionals['sparqlEndpointUrl']" required>
		</div>
		<div class="form-group">
			<label for="mappingFileName">Mapping File Name</label> 
			<input type="text" class="form-control" id="mappingFileName" name="mappingFileName" [(ngModel)]="agent.additionals['mappingFilename']" required>
		</div>
		<div class="form-group">
			<label for="queryPageSize">Query Page Size</label> 
			<input type="text" class="form-control" id="queryPageSize" name="queryPageSize" [(ngModel)]="agent.additionals['queryPageSize']" required>
		</div>
		<button type="submit" class="btn btn-success">Create</button>
    </form>
  </div>
