div.form-sub-group {
	width: 50%;
	float: left;
}

div.form-sub-group input {
	width: 99%;
}

div.form-sub-group select {
	width: 99%;
}

div.form-group-container {
	overflow: hidden;
}

div#result-section {
	margin-top: 20px;
}

table#result-table {
	width: 100%;
}

tr.result-item {
	width: 100%;
	padding: 5px;
	width: 100%;
	cursor: pointer;
}
tr.result-item:hover {
	background-color: lightblue;
}