<div>
	<div id="query-section">
		<form #embeddingQueryForm="ngForm" (ngSubmit)="onSubmit()">
			<div class="form-group form-group-container">
			<div class="form-sub-group" style="width:74%">
				<label for="query-uri">URI</label> 
				<input type="text"class="form-control" id="query-uri" name="query-uri" [(ngModel)]="query" required>
			</div>
			<div class="form-sub-group" style="width:25%">
				<label for="query-k">Nr of nearest neighbors</label> 
				<input type="text"class="form-control" id="query-k" name="query-k" [(ngModel)]="k" required>
			</div>
			</div>
			<button type="submit" class="btn btn-success">Find</button>
		</form>
	</div>
	
	<div id="result-section">
		<table id="result-table">
			<tr class="result-item" *ngFor="let result of results" (click)="compareResult(result)">
				<td>{{result.uri}}</td><td>{{result.distance}}</td>
			</tr>
		</table>
	</div>
	
	<div id="plot-section">
		<app-radial-bar #radialBar [dataFocus]="data1" [dataCompare]="data2"></app-radial-bar>
	</div>
</div>