path {  stroke: #fff; }

.axis {  font: 10px sans-serif; }
.legend tr{    border-bottom:1px solid grey; }
.legend tr:first-child{    border-top:1px solid grey; }

.axis path,
.axis line {
  fill: none;
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.hidden {
  visibility: hidden;
}

.sparqlExample {
  margin-bottom: 50px;
}

.showMoreIcon {
  display: inline-flex;
}
