<form #messageSendForm="ngForm">
  <div class="modal-header">
    <h4 class="modal-title">Compose message</h4>
  </div>
  <div class="modal-body">

	<div class="form-group">
		<label for="message-performative">Performative</label>
		<select class="form-control" id="message-performative" name="message-performative" [(ngModel)]="message.performative" required>
			<option *ngFor="let perf of performativeKeys();">{{perf}}</option>
		</select>
	</div>
	<div class="form-group">
		<label for="message-receiver">Receiver</label>
		<select #receiver class="form-control" id="message-receiver" name="message-receiver" [(ngModel)]="message.receiverUUID" (change)="onReceiverSelect(receiver.value)" required>
			<option *ngFor="let receiverAgent of receiverAgents;" [ngValue]="receiverAgent.uuid">{{receiverAgent.nickname}}</option>
		</select>
	</div>
	<div class="form-group">
		<label for="message-content">Content</label> 
		<textarea class="form-control" id="message-content" name="message-content" [(ngModel)]="message.content" placeholder="Enter Message Content" required></textarea>
	</div>
  </div>
  <div class="modal-footer">
  	<button type="button" class="btn btn-outline-dark" (click)="sendMessage()" >Send</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss()">Close</button>
  </div>
</form>

