
<div class="bca-progress">
	<h5>Bookmark coloring progress:</h5>
	<app-progress-bar #progressBar></app-progress-bar>
</div>

<div class="glove-progress">
	<h5>GloVe progress:</h5>
	<app-line-chart #lineChart [xMax]="gdMaxIter"></app-line-chart>
</div>