<ng-template #icon>
  <div class="hcIcon hcIconSmall hcMarginRight05">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="32"
         width="32" viewBox="0 0 32 32" preserveAspectRatio="xMinYMin meet">
      <polygon points="0,10 32,10 16,27" class="hcIconFill"></polygon>
    </svg>
  </div>
</ng-template>

<div #progress_list id="progress-list" class="hcGaProces">
  <div #query_progress id="query_progress_0">
    <ng-container *ngTemplateOutlet="icon"></ng-container>
    <div>
      <span class="message">User Agent processes query</span>
      <div #errormessage class="alert alert-danger d-none"
           *ngIf="errorObject.isPopulated">
        <span class="parse-newlines hcTxt_Caution" *ngIf="errorObject.humanErrorMessage !== ''">
          {{errorObject.humanErrorMessage}}
        </span>
        <span *ngIf="errorObject.humanErrorMessage === '' && errorObject.encounteredString === 'End of query'"
              class="hcTxt_Caution">
          The query ended unexpectedly
        </span>
        <div *ngIf="errorObject.humanErrorMessage === '' && errorObject.encounteredString !== 'End of query'">
          <p class="hcTxt_Caution">The agents are having trouble understanding your query.</p>
          <p class="hcTxt_Caution">You typed `{{errorObject.encounteredString}}` at line {{errorObject.line}}</p>
          <p>The agents expected one of the following expressions instead:</p>
          <ul>
            <li *ngFor="let expected of errorObject.expectedString">{{expected}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div #query_progress id="query_progress_1">
    <ng-container *ngTemplateOutlet="icon"></ng-container>
    <div><span class="message">Broker Agent receives processed query from User Agent</span></div>
  </div>

  <div #query_progress id="query_progress_2">
    <ng-container *ngTemplateOutlet="icon"></ng-container>
    <div><span class="message">Broker Agent translates query</span></div>
  </div>

  <div #query_progress id="query_progress_3">
    <ng-container *ngTemplateOutlet="icon"></ng-container>
    <div><span class="message">Broker Agent sends translated sub-queries to DB Agents</span>
      <div #query_progress_to_db class="hcGaProces hcGaSubProces show-when-progress">
        <div *ngFor="let agent of dbAgentList" class="progress-done">
          <ng-container *ngTemplateOutlet="icon"></ng-container>
          <span>{{agent}}</span>
        </div>
      </div>
    </div>
  </div>

  <div #query_progress id="query_progress_4">
    <ng-container *ngTemplateOutlet="icon"></ng-container>
    <div><span class="message">Broker Agent collects 83128 statements from DB Agents</span>
      <div #query_progress_received_from_db class="hcGaProces hcGaSubProces show-when-progress">
        <div *ngFor="let agent of dbAgentList" class="{{dbAgentMap[agent].class}}" title="{{dbAgentMap[agent].errorMessage}}">
          <ng-container *ngTemplateOutlet="icon"></ng-container>
          <span>Collected {{dbAgentMap[agent].results}} from {{dbAgentMap[agent].name}}</span>
        </div>
      </div>
    </div>
  </div>

  <div #query_progress id="query_progress_5">
    <ng-container *ngTemplateOutlet="icon"></ng-container>
    <div>Broker Agent executes original query on the collected data</div>
  </div>

  <div #query_progress id="query_progress_6">
    <ng-container *ngTemplateOutlet="icon"></ng-container>
    <div><span class="message">Sending back results</span></div>
  </div>

</div>
