<svg id="message-history-class-names" height="28px" attr.width="{{WIDTH}}">

  <ng-container *ngFor="let agent of agentsList; let i = index" >
     <!--Class labels-->
    <g attr.transform="translate({{PAD_LEFT + (i * CLASS_SPACE) + XMARGIN}}, {{PAD_TOP}})">
      <text
        class="class-label"
        style="text-anchor: middle; font-family: monospace; font-size: 12px;"
        attr.dy="{{CLASS_LABEL_SIZE + (CLASS_LABEL_SIZE  / 4)}}"
        >{{agents.get(agent)}}</text>
    </g>

     <!-- Classes -->
    <g class="class-rect" attr.transform="translate({{PAD_LEFT + (i * CLASS_SPACE)}}, {{PAD_TOP}})">
      <rect
        attr.x="{{(-((agents.get(agent).length * 7.5) + (CLASS_LABEL_PADDING * 2)) / 2) + XMARGIN}}"
        y="2"
        attr.width="{{((agents.get(agent).length * 7.5) + (CLASS_LABEL_PADDING * 2))}}"
        height="26"
        fill="rgba(0,0,0,0)"
        stroke="rgba(1,1,1,3)"
        style="cursor: pointer;"
        (click)="navigateToAgent(agent)"
      ></rect>
    </g>
  </ng-container>
</svg>

<div id="message-history-diagram-container" #messageHistoryDiagramContainer>
	<svg id="message-history-diagram" attr.width="{{WIDTH}}" attr.height="{{MESSAGE_SPACE * (messageDiagramInfo.length + 2)}}">
    <defs>
        <ng-container *ngFor="let c of conversationIds">
          <marker id="{{c}}" viewBox="0 -5 10 10" refX="10" refY="0" markerWidth="10" markerHeight="10"
                  orient="auto">
            <path d="m0, -5L10, 0L0, 5" attr.fill="{{conversations.get(c)}}"/>
          </marker>
        </ng-container>
    </defs>

        <!--Agent lines-->
        <ng-container *ngFor="let agent of agentsList; let i = index">
            <line style="stroke: #999; stroke-dasharray: 3"
                  attr.x1="{{PAD_LEFT + i * CLASS_SPACE + XMARGIN}}"
                  attr.x2="{{PAD_LEFT + i * CLASS_SPACE + XMARGIN}}"
                  attr.y1="{{PAD_TOP}}"
                  attr.y2="{{PAD_TOP + 20 + ((agentMessageLimits.get(agent)[0] + 2) * MESSAGE_SPACE)}}"
                  ></line>
            <line style="stroke: #999;"
                  attr.x1="{{PAD_LEFT + i * CLASS_SPACE + XMARGIN}}"
                  attr.x2="{{PAD_LEFT + i * CLASS_SPACE + XMARGIN}}"
                  attr.y1="{{PAD_TOP + 20 + ((agentMessageLimits.get(agent)[0] + 2) * MESSAGE_SPACE)}}"
                  attr.y2="{{PAD_TOP + 20 + ((agentMessageLimits.get(agent)[1] + 2) * MESSAGE_SPACE)}}"
            ></line>
        </ng-container>

        <!--Messages-->
        <ng-container *ngFor="let message of messageDiagramInfo">
          <line
                attr.stroke="{{conversations.get(message.message.conversationID)}}"
                attr.x1="{{message.lineX1()}}"
                attr.y1="{{message.arrowY()}}"
                attr.x2="{{message.lineX2()}}"
                attr.y2="{{message.arrowY()}}"
                attr.marker-end="url(#{{message.message.conversationID}})"></line>

          <g attr.transform="translate({{message.timestampX()}}, {{message.labelY() + 8}})"
             class="first"
             text-anchor="middle">
            <text
             style="font-size: 12px">
             {{message.message.time}}
            </text>
          </g>

          <g attr.transform="translate({{message.messageX()}}, {{message.labelY()}})">
            <text
             dx="5px"
             dy="-2px"
             style="font-size: 12px; text-anchor: start; cursor: pointer; background: #FFF;"
             >
              <a
               class="message-details"
               triggers="mouseenter:mouseleave"
               id="message-details-{{message.message.messageID}}"
               [ngbPopover]="popover"
               container="body"
               popoverTitle="{{message.message.performative}} {{message.message.conversationID.substr(9,11)}}">
                {{message.message.performative}} {{message.message.conversationID.substr(9,11)}}</a>
            </text>
          </g>

          <ng-template #popover>
            <ng-container *ngTemplateOutlet="popcontent; context: {message: message.message}"></ng-container>
          </ng-template>
      </ng-container>
</svg>
</div>

<ng-template
	#popcontent let-message="message">
  <h5 class="popover-title">Content</h5>
  <div *ngIf="message.content=='No content';then if_content else else_content"></div>
  <ng-template #if_content>{{message.header}}</ng-template>
  <ng-template #else_content>{{message.content}}</ng-template>

  <h5 class="popover-title">Encoding</h5>
  <div>{{message.encoding ? message.encoding : "Not specified"}}</div>

  <h5 class="popover-title">Language</h5>
  <div>{{message.language ? message.language : "Not specified"}}</div>

  <h5 class="popover-title">Ontology</h5>
  <div>{{message.ontology ? message.ontology : "Not specified"}}</div>

  <h5 class="popover-title">Params</h5>
  <ul *ngIf="message.params">
    <li *ngFor="let param of message.params | mapToIterable">
      {{param.key}} = {{param.value}} <hr/>
    </li>
  </ul>
  <div *ngIf="!message.params">Not specified</div>
</ng-template>
