<!-- TODO code here somehow breaks DOM -->

<div id="hcCodeEditor" class="hcGaSce" style="display: flex;">
  <!-- TODO move to save / load query -->
<!--  <div class="form-group">-->
<!--    <select class="form-control"-->
<!--            title="Previous queries"-->
<!--            #currentQueryFromHistory-->
<!--            id="query-history"-->
<!--            (change)="selectNewHistoricalQuery($event.target.value);"-->
<!--            [hidden]="queryHistory.length <= 0">-->
<!--      <option *ngFor="let hist of queryHistory; index as i; let last = last" [value]="i" [selected]="i == currentSelectedHistoryIndex">-->
<!--        {{hist.addedAt.toString()}}-->
<!--      </option>-->
<!--    </select>-->
<!--  </div>-->
  <form #askQueryForm class="ngForm" >
    <div id="query-formgroup" class="hcCodeEditor">
      <ngx-codemirror
        class="hccodeTxt" id="query"
        name="query" #querycontent
        style="width: 100%"
        [(ngModel)]="query"
        [options]="{
          lineNumbers: true,
          theme: '3024-day',
          mode: 'sparql'
        }"
        ></ngx-codemirror>
    </div>
    <div class="btn-group">
    <button type="submit" (click)="onSubmit()" class="btn hcClrBg_Reward" [class.animate]="loading === true" [class.hcClrBg_Error]="errorObject.isPopulated">
      <span class="loading-indicator"></span>
      Run Query
    </button>
    <button *ngIf="_tmpQuery !== undefined" (click)="displaySparqlQuery(_tmpQuery)" class="btn hcClrBg_InfoLight">Restore previous query</button>
    </div>
    <!-- TODO move to settings -->
<!--    <button (click)="intelligentSearch()" class="btn btn-warning" style="float: right;">Expertise Search</button>-->
  </form>
</div>
