<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Broker Agent Create Form</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal('Cross click')">
    	<span aria-hidden="true">&times;</span>
  	</button>
  </div>
  <div class="modal-body">
    <form #agentCreationForm="ngForm" (ngSubmit)="onSubmit()">
      	<div class="form-group">
			<label for="nickname">Nickname</label> 
			<input type="text" class="form-control" id="nickname" name="nickname" [(ngModel)]="agent.nickname" required>
		</div>
		<div class="form-group">
			<label for="icon">Icon</label> 
			<input type="text" class="form-control" id="icon" name="icon" [(ngModel)]="agent.additionals['icon']" required>
		</div>
		<div class="form-group">
			<label for="ontology">Ontology File Name</label> 
			<input type="text" class="form-control" id="ontology" name="ontology" [(ngModel)]="agent.additionals['ontology']" required>
		</div>
		<div class="form-group">
			<label for="linkset">Linkset File Name</label> 
			<input type="text" class="form-control" id="linkset" name="linkset" [(ngModel)]="agent.additionals['linkset']" required>
		</div>
		<button type="submit" class="btn btn-success">Create</button>
    </form>
  </div>