<mat-tab-group [(selectedIndex)]="selectedTab">

	<mat-tab label="Messages">
		<div class="tab-container">
			<h3 class="tab-header">Message overview</h3>
			<div class="tab-content"><app-sparql-agent-messages [agent]="agent"></app-sparql-agent-messages></div>
		</div>
	</mat-tab>
	
	<mat-tab label="Expertise">
		<div class="tab-container">
			<h3 class="tab-header">Expertise</h3>
			<div class="tab-content"><app-sparql-agent-statistics [agent]="agent"></app-sparql-agent-statistics></div>
		</div>
	</mat-tab>
	
	<mat-tab label="Settings">
		<div class="tab-container">
			<h3 class="tab-header">Edit this agent</h3>
			<div class="tab-content"><app-sparql-agent-settings [agent]="agent"></app-sparql-agent-settings></div>
		</div>
	</mat-tab>
	

	
</mat-tab-group>
