<mat-grid-list  *ngFor="let aType of agentTypes" cols="4" rowHeight="1:1" gutterSize="15px" class="agent-grid-list">

	<ng-container *ngIf="agents | agentTypeFilter:aType as agentsOfType; else noItems">
	  	<!-- else is to cover the case where "agents" is "null" or "undefined" -->
	
		<ng-container *ngIf="agentsOfType.length; else noItems"><hr/><h3>{{aType}} Agents:</h3><hr/></ng-container>
		
		<mat-grid-tile *ngFor="let agent of agentsOfType">
			<app-agent-grid-item [agent]="agent"></app-agent-grid-item>
		</mat-grid-tile>

	</ng-container>
	<!-- the case where the pipe returns an empty array  -->
	<ng-template #noItems><h3>No {{aType}} Agents</h3></ng-template>
</mat-grid-list>
