<mat-tab-group [(selectedIndex)]="selectedTab" #tabGroup>

	<mat-tab label="Boot">
		<div class="tab-container">
			<h3 class="tab-header">Embedding agent startup</h3>
			<div class="tab-content"><app-embedding-agent-boot [agent]="agent"></app-embedding-agent-boot></div>
		</div>
	</mat-tab>
	
	<mat-tab label="Query">
		<div class="tab-container">
			<h3 class="tab-header">Query the embedding</h3>
			<div class="tab-content"><app-embedding-agent-query [agent]="agent"></app-embedding-agent-query></div>
		</div>
	</mat-tab>
	
	<mat-tab label="Messages">
		<div class="tab-container">
			<h3 class="tab-header">Message overview</h3>
			<div class="tab-content"><app-embedding-agent-messages [agent]="agent"></app-embedding-agent-messages></div>
		</div>
	</mat-tab>
	
	<mat-tab label="Settings">
		<div class="tab-container">
			<h3 class="tab-header">Edit this agent</h3>
			<div class="tab-content"><app-embedding-agent-settings [agent]="agent"></app-embedding-agent-settings></div>
		</div>
	</mat-tab>
	

	
</mat-tab-group>