<mat-tab-group [(selectedIndex)]="selectedTab">

	<mat-tab label="Messages">
		<div class="tab-container">
			<h3 class="tab-header">Message overview</h3>
			<div class="tab-content"><app-broker-agent-messages [agent]="agent"></app-broker-agent-messages></div>
		</div>
	</mat-tab>

	<mat-tab label="Settings">
		<div class="tab-container">
			<h3 class="tab-header">Edit this agent</h3>
			<div class="tab-content"><app-broker-agent-settings [agent]="agent"></app-broker-agent-settings></div>
		</div>
	</mat-tab>



</mat-tab-group>
