<div class="modal-header">
	<h4 class="modal-title" id="modal-basic-title">Embedding Agent Create Form</h4>
	<button type="button" class="close" aria-label="Close"
		(click)="closeModal('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<form #agentCreationForm="ngForm" (ngSubmit)="onSubmit()">
		<div class="form-group form-group-container">
			<div class="form-sub-group">
				<label for="nickname">Nickname</label> 
				<input type="text"
					class="form-control" id="nickname" name="nickname"
					[(ngModel)]="agent.nickname" required>
			</div>
			<div class="form-sub-group">
				<label for="icon">Icon</label> 
				<input type="text"
					class="form-control" id="icon" name="icon"
					[(ngModel)]="agent.additionals['icon']" required>
			</div>
        </div>

		<div class="form-group">
            <label for="bcaType">BCA Type</label>
            <select class="form-control" id="bcaType" name="bcaType" [(ngModel)]="agent.additionals['bcaType']" required>
                <option value="Vanilla">Vanilla</option>
                <option value="Semantic_Fast">Semantic Fast</option>
                <option value="Semantic_Slow">Semantic Slow</option>
            </select>
			<label for="mappingFileName">SPARQL Dump File</label> 
			<input
				type="text" class="form-control" id="dumpFileName"
				name="dumpFileName"
				[(ngModel)]="agent.additionals['file']" required>
		</div>
		<h4>Bookmark Coloring Algorithm</h4>

		<div class="form-group form-group-container">
			<div class="form-sub-group">
				<label for="literals">Literals</label> 
				<select class="form-control" id="literals" name="literals"
					[(ngModel)]="agent.additionals['literals']" required>
					<option value="true">Yes</option>
					<option value="false">No</option>
				</select>
				<label for="normalize">Normalize</label> 
				<select class="form-control" id="normalize" name="normalize"
					[(ngModel)]="agent.additionals['normalize']" required>
					<option value="true">Yes</option>
					<option value="false">No</option>
				</select>
				<label for="reverse">Include reverse</label> 
				<select class="form-control" id="reverse" name="reverse"
					[(ngModel)]="agent.additionals['reverse']" required>
					<option value="true">Yes</option>
					<option value="false">No</option>
				</select>
			</div>
			<div class="form-sub-group">
				<label for="alpha">Alpha - Retention coefficient</label> 
				<input type="text"
					class="form-control" id="alpha" name="alpha"
					[(ngModel)]="agent.additionals['alpha']" required>
				<label for="epsilon">Epsilon - Tolerance threshold</label> 
				<input type="text"
					class="form-control" id="epsilon" name="epsilon"
					[(ngModel)]="agent.additionals['epsilon']" required>
				<label for="bcaThreads">Nr of Threads</label> 
				<input type="text"
					class="form-control" id="bcaThreads" name="bcaThreads"
					[(ngModel)]="agent.additionals['bcaThreads']" required>
			</div>
		</div>
		<h4>Gradient Descent Optimization</h4>
		<div class="form-group form-group-container">
			<div class="form-sub-group">
				<label for="optimizationAlgorithm">Optimization Algorithm</label>
				<select class="form-control" id="optimizationAlgorithm" name="optimizationAlgorithm"
					[(ngModel)]="agent.additionals['optimizationAlgorithm']" required>
					<option value="Adagrad">Adagrad</option>
					<option value="Adam">Adam</option>
					<option value="Adadelta">Adadelta</option>
					<option value="AMSGrad">AMSGrad</option>
				</select>
				<label for="dimensions">Dimensions</label> 
				<input type="text"
					class="form-control" id="dimensions" name="dimensions"
					[(ngModel)]="agent.additionals['dimensions']" required>
				<label for="maxIterations">Maximum Nr of iterations</label> 
				<input type="text"
					class="form-control" id="maxIterations" name="maxIterations"
					[(ngModel)]="agent.additionals['maxIterations']" required>
			</div>
			<div class="form-sub-group">
				<label for="tolerance">Tolerance</label>
				<input type="text"
					class="form-control" id="tolerance" name="tolerance"
					[(ngModel)]="agent.additionals['tolerance']" required>
				<label for="xMax">Maximum X</label> 
				<input type="text"
					class="form-control" id="xMax" name="xMax"
					[(ngModel)]="agent.additionals['xMax']" required>
				<label for="gdThreads">Nr of Threads</label> 
				<input type="text"
					class="form-control" id="gdThreads" name="gdThreads"
					[(ngModel)]="agent.additionals['gdThreads']" required>
			</div>

		</div>
		<button type="submit" class="btn btn-success">Create</button>
	</form>
</div>