div.form-sub-group {
	width: 50%;
	float: left;
}

div.form-sub-group input {
	width: 99%;
}

div.form-sub-group select {
	width: 99%;
}

div.form-group-container {
	overflow: hidden;
}